<%= form_with model: group do |f| %>
  <div class="group-input-form">
    <p>グループ名</p>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="group-input-form">
    <p>紹介文</p>
    <%= f.text_area :introduction, class: 'form-control', size: "10x10" %>
  </div>

  <div class="group-input-form">
    <p>グループ画像</p>
    <%= f.file_field :profile_image %>
  </div>

  <div class="group-input-form">
    <%= f.submit '送信', class: "btn btn-success group-form-btn" %>
  </div>
<% end %>
